:root {
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    display: grid;
    align-items: center;
    justify-items: center;
}

.game-board-container {
    border: 1px solid #444;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-board-item {
    border: 1px solid #555;
}